/*change style of body*/
body {
	background-color: #2F3136;
}

/*change style of #title*/
#title {
	color: #A4A6A9;
	font-family: monospace;
	font-size: 40px;
	text-align: center;
}

/*change style of #btn*/
#btn {
	margin-left: 25%;
	margin-right: 25%;
	color: #A4A6A9;
	background-color: #2F3136;
	outline: none;
	border: 2px solid #202225;
	width: 50%;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
	font-family: monospace;
}

/*change style of '#btn' if event 'hover:' is True*/
#btn:hover {
	color: white;
	background-color: #373a41;
}

#nav {
	position: absolute;
	color: #A4A6A9;
	font-family: monospace;
	font-size: 20px;
	left: 50px;
}

#canva {
	margin-top: 40px;
}

#canva:hover, #reload:hover {
	color: white;
	cursor: pointer;
}