<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

    <h1 id='title'>your video is being built...</h1>

    <p id="errorMessage" style="text-align: center; margin-top: 100px; font-size: 30px;">Please wait for your video to finish being created</p>

    <img src="{{url_for('static', filename='endLogo.png')}}" style="width: 20%; margin-left: 40%; margin-right: 40%;">

</body>
</html>