<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>web site</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1 id='title' class=''>FSV web editor</h1>

	<form method="post" class="pageForm">
		{%for x in range(all_video|length)%}

			<div class="videoBox" style="background-color: {{color[x]}};">

				<div id="textVideoBox">{{all_video[x]}}</div> 

				<input type="number" name="{{all_video[x]}}" id="numBox" min="1" max="{{all_video|length}}" value="{{all_video['x']}}{{x+1}}" style="border-color: {{color[x]}};">

			</div>

		{%endfor%}
		<input type="submit" id='btn' name='sub' value="Submit Video">

		{% if Error %}
			<div id="errorMessage" style="text-align: center;">[SyntaxError]: it cannot have the same number for several videos</div>
		{% endif %}
	</form>

	<script type="text/javascript" src="../static/script.js"></script>
</body>
</html>
